{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row my-4 justify-content-center">
      <div class="col-lg-9  mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>My tasks</h6>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                  <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                    <li><a class="dropdown-item border-radius-md" href="{% url 'dashboard:create-task' %}">Add task</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive ">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Description</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completed</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for task in task_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs"><a href="{% url 'dashboard:task-view' pk=task.id %}">{{ task.name }}</a></h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">{{ task.description|truncatewords:5 }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class=" mt-2">
                        {% for worker in task.assignees.all %}
                          {% if request.user.id == worker.id or request.user.is_superuser %}
                            <a href="{% url 'dashboard:profile' pk=worker.id %}"
                               class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% else %}
                            <a class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ task.deadline }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            {% if task.is_completed %}
                              <i class="bi bi-check2-circle" style="color: green"></i>
                            {% else %}
                              <i class="bi bi-x-circle" style="color: red"></i>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ task.priority }}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ task.task_type }}</span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

{% endblock scripts %}
