{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-4"
         style="background-image: url('{% static 'img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="{% static 'img/person-square.svg' %}" alt="profile_image"
                 class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              {% if worker.first_name and worker.last_name %}
                {{ worker.first_name }} {{ worker.last_name }}
              {% else %}
                {{ worker.username }}
              {% endif %}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
              {{ worker.position }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 col-xl-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h6 class="mb-0">Profile Information</h6>
              </div>
              <div class="col-md-4 text-end">
                <a href="{% url 'dashboard:edit-profile' pk=worker.pk %}">
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Edit Profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <hr class="horizontal gray-light my-4">
            <ul class="list-group">
              {% if mode == "edit" %}
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                    class="text-dark">Username:</strong> {{ worker.username }}</li>
                <form role="form" method="post" action="#">
                  {% csrf_token %}
                  {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="mb-3">
                      {{ field }}
                    </div>
                    <span class="text-danger">{{ field.errors }}</span>
                  {% endfor %}
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-info w-45 mt-4 mb-0">Save profile</button>
                    <a href="{% url 'dashboard:profile' pk=worker.id %}"
                       class="btn bg-gradient-secondary w-45 mt-4 mb-0">Cancel</a>
                  </div>
                </form>
              {% else %}
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                    class="text-dark">Username:</strong> {{ worker.username }}</li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full
                  Name:</strong> {{ worker.first_name }} {{ worker.last_name }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong
                    class="text-dark">Email:</strong> {{ worker.email }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="card mb-4">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-1">Tasks</h6>
          </div>
          <div class="card-body p-3">
            <div class="row">
              {% for task in tasks %}
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card card-blog card-plain border">
                    <div class="card-body px-1 ">
                      <h5><a href="{% url 'dashboard:task-view' pk=task.id %}">{{ task.name }}</a></h5>
                      <p class="mb-4 text-sm">
                        {{ task.description }}
                      </p>
                      Completed:
                      {% if task.is_completed %}
                        <i class="bi bi-check2-circle" style="color: green"></i>
                      {% else %}
                        <i class="bi bi-x-circle" style="color: red"></i>
                      {% endif %}
                      <div class="d-flex align-items-center justify-content-between">
                        Deadline: {{ task.deadline }}
                      </div>
                      <div class=" mt-2">
                        Members:
                        {% for worker in task.assignees.all %}
                          {% if request.user.id == worker.id or request.user.is_superuser %}
                            <a href="{% url 'dashboard:profile' pk=worker.id %}"
                               class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% else %}
                            <a class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}