{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
  Add new task
{% endblock %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row my-4 justify-content-center">
      <div class="col-lg-3 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Add new task</h6>
              </div>
            </div>
          </div>
          <div class="card-body px-4 pb-2">
            <div class="table-responsive ">
              <form role="form" method="post" action="#">
                {% csrf_token %}
                {% for field in form %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="mb-3">
                    {{ field }}
                  </div>
                  <span class="text-danger">{{ field.errors }}</span>
                {% endfor %}
                <div class="text-center pb-3">
                  <button type="submit" class="btn bg-gradient-info w-45 mt-4 mb-0">Save task</button>
                  <a href="{% url 'dashboard:index' %}"
                     class="btn bg-gradient-secondary w-45 mt-4 mb-0">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

{% endblock scripts %}
