{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
  Delete confirmation
{% endblock %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row my-4 justify-content-center">
      <div class="col-lg-3 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Delete task - {{ task.name }}?</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="table-responsive ">
              <form action="" method="post">
                {% csrf_token %}
                <div class="text-center">
                  <button type="submit" class="btn btn-danger w-45 mt-4 mb-0">Delete</button>
                  <a href="{% url 'dashboard:task-view' pk=task.id %}"
                     class="btn bg-gradient-secondary w-45 mt-4 mb-0">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

{% endblock scripts %}
