{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
{{ task.name }}
{% endblock %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row my-4 justify-content-center">
      <div class="col-lg-3 mb-md-0 mb-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Task - {{ task.name }}</h6>
              </div>
              <div class="col-lg-6 col-5 text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="{% url 'dashboard:task-edit' pk=task.id %}">Edit task</a></li>
                      <li><a class="dropdown-item border-radius-md" href="{% url 'dashboard:task-delete' pk=task.id %}">Delete task</a></li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
              <div class="card-body p-3">
                <hr class="horizontal gray-light">
                <ul class="list-group">
                  {% if mode == "edit" %}
                    <form role="form" method="post" action="#">
                      {% csrf_token %}
                      {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="mb-3">
                          {{ field }}
                        </div>
                        <span class="text-danger">{{ field.errors }}</span>
                      {% endfor %}
                      <div class="text-center">
                        <button type="submit" class="btn bg-gradient-info w-45 mt-4 mb-0">Save task</button>
                        <a href="{% url 'dashboard:task-view' pk=task.id %}"
                           class="btn bg-gradient-secondary w-45 mt-4 mb-0">Cancel</a>
                      </div>
                    </form>
                  {% else %}
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                        class="text-dark">Description:</strong> {{ task.description }}</li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">
                      Deadline:</strong> {{ task.deadline }}</li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                        class="text-dark">Completed:</strong>
                        {% if task.is_completed %}
                              <i class="bi bi-check2-circle" style="color: green"></i>
                            {% else %}
                              <i class="bi bi-x-circle" style="color: red"></i>
                            {% endif %}
                    </li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                        class="text-dark">Priority:</strong> {{ task.priority }}</li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                        class="text-dark">Type:</strong> {{ task.task_type }}</li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                        class="text-dark">Members:</strong>
                        {% for worker in task.assignees.all %}
                          {% if request.user.id == worker.id or request.user.is_superuser %}
                            <a href="{% url 'dashboard:profile' pk=worker.id %}"
                               class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% else %}
                            <a class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="
                                {% if worker.first_name and worker.last_name %}{{ worker.first_name }}
                                {{ worker.last_name }}{% else %}{{ worker.username }}{% endif %}">
                              <img src="{% static 'img/person-circle.svg' %}" alt="user">
                            </a>
                          {% endif %}
                        {% endfor %}
                    </li>
                  {% endif %}
                  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                    {% if not task.is_completed and "task-view" in segment%}
                      <div class="text-center">
                      <a href="{% url 'dashboard:task-complete' pk=task.id %}"
                       class="btn bg-gradient-info w-45 mt-4 mb-0">Mark complete</a>
                      </div>
                    {% endif %}
                  </li>
                </ul>
              </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

{% endblock scripts %}
