<footer class="footer pt-3  ">
  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="copyright text-center text-sm text-muted ">
          &copy; <a href="https://gitlab.com/lotrikys/task-manager" class="text-muted" target="_blank">Task Manager</a> - 2023
        </div>
    </div>
  </div>
</footer>