    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy; <a href="https://gitlab.com/lotrikys/task-manager" class="text-muted" target="_blank">Task Manager</a> - 2023
            </p>
          </div>
        </div>
      </div>
    </footer>