{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
          {% if "dashboard" in segment %}
          <form action="" method="get">
            {{ search_form }}
          </form>
          {% endif %}
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        {% if request.user.is_authenticated %}
          <li class="nav-item px-3 d-flex align-items-center">
            Welcome, {% if request.user.first_name and request.user.last_name %}{{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}{{ request.user.username }}
            {% endif %}
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Logout</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="{% url 'dashboard:login' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="{% url 'admin:index' %}" class="nav-link text-body p-0">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
